# Flask Backend Configuration
PORT=
FLASK_ENV=
SECRET_KEY=
MONGO_URI=
ADMIN_REGISTRATION_KEY=
ALLOWED_ORIGINS=
SESSION_COOKIE_SECURE=
MAX_BATCH_FILE_SIZE_BYTES=

# Frontend Configuration
VITE_API_BASE_URL=

